{
    "swagger": "2.0",
    "info": {
        "version": "0.9.0",
        "title": "BridgeDb webservices"
    },
    "consumes":["text/html"],
    "produces":["*/*"],
    "host": "webservice.bridgedb.org",
    "schemes": [
        "http",
        "https"
    ],
    "paths": {
        "/{organism}/xrefs/{conventionalName}/{identifier}": {
            "get": {
                "description": "Returns a list of xrefs that map to a given identifier, data source, and organism.",
		"tags":["Genes"],
                "parameters": [
                    {
                        "name": "dataSource",
                        "in": "query",
                        "description": "(Optional) Restrict results by data source [conventional name](http://vocabularies.bridgedb.org/#conventionalName)",
                        "required": false,
                        "type": "string",
			"enum": ["Affy","Agilent","BIND","BioCyc","BioGrid","BioModels Database","BioSystems","BRENDA","CAS","CCDS","ChEBI","ChEMBL compound","Chemspider","CodeLink","Database of Interacting Proteins","dbSNP","DrugBank","EcoCyc","EcoGene","EMBL","Ensembl","Ensembl B. subtilis","Ensembl C. elegans","Ensembl Chicken","Ensembl Chimp","Ensembl Cow","Ensembl Dog","Ensembl E. coli","Ensembl Fruitfly","Ensembl Horse","Ensembl Human","Ensembl M. tuberculosis","Ensembl Mosquito","Ensembl Mouse","Ensembl Pig","Ensembl Plants","Ensembl Rat","Ensembl Xenopus","Ensembl Yeast","Ensembl Zebrafish","Entrez Gene","Enzyme Nomenclature","FlyBase","GenBank","Gene Wiki","GeneOntology","Gramene Arabidopsis","Gramene Genes DB","Gramene Literature","Gramene Maize","Gramene Pathway","Gramene Rice","HGNC","HGNC Accession number","HMDB","HomoloGene","HPRD","Illumina","InChIKey","IntAct","InterPro","IPI","IRGSP Gene","KEGG Compound","KEGG Drug","KEGG Genes","KEGG Glycan","KEGG Pathway","KEGG Reaction","KNApSAcK","LIPID MAPS","LipidBank","MACiE","MaizeGDB","MatrixDB","MetaCyc","MGI","MINT","miRBase mature sequence","miRBase Sequence","NASC Gene","NCBI Protein","NCI Pathway Interaction Database","OMIM","Oryzabase","Other","Pathway Commons","PDB","Pfam","PharmGKB Drug","PharmGKB Gene","PharmGKB Pathways","PhosphoSite Protein","PINA","PlantGDB","PubChem-bioassay","PubChem-compound","PubChem-substance","Reactome","RefSeq","RESID","Rfam","RGD","Rhea","Rice Ensembl Gene","SGD","Small Molecule Pathway Database","SMART","SPIKE","SPRINT","STRING","SubstrateDB","SubtiWiki","SUPFAM","SWISS-MODEL","SwissLipids","Systems Biology Ontology","TAIR","TIGR","TTD Drug","TTD Target","TubercuList","UCSC Genome Browser","UniGene","Unipathway","Uniprot-SwissProt","Uniprot-TrEMBL","Wheat gene names","Wheat gene refs","Wikidata","WikiGenes","WikiPathways","Wikipedia","WormBase","XMetDB","ZFIN"]

                    },
                    {
                        "name": "organism",
                        "in": "path",
                        "description": "Organism [Latin name](http://vocabularies.bridgedb.org/#latinName) or [short name](http://vocabularies.bridgedb.org/#shortName).",
                        "required": true,
                        "type": "string",
			"enum": ["Human", "Homo sapiens",
				"Tuberculosis", "Mycobacterium tuberculosis",
				"Mosquito", "Anopheles gambiae",
				"Zebra fish", "Danio rerio",
				"Arabidopsis thaliana",
				"Rice", "Oryza sativa",
				"Sea Squirt", "Ciona intestinalis",
				"Barley", "Hordeum vulgare",
				"Frog", "Xenopus tropicalis",
				"Soybean", "Glycine max",
				"Fruit fly", "Drosophila melanogaster",
				"Horse", "Equus caballus",
				"Rhesus Monkey", "Macaca mulatta",
				"Wine Grape", "Vitis vinifera",
				"Yeast", "Saccharomyces cerevisiae",
				"Tomato", "Solanum lycopersicum",
				"Rat", "Rattus norvegicus",
				"Cow", "Bos taurus",
				"Western Balsam Poplar", "Populus trichocarpa",
				"Chimpanzee", "Pan troglodytes",
				"Indian Rice", "Oryza indica",
				"Dog", "Canis familiaris",
				"Maize", "Zea mays",
				"Pig", "Sus scrofa",
				"Worm", "Caenorhabditis elegans",
				"Platypus", "Ornithorhynchus anatinus",
				"Chicken", "Gallus gallus",
				"Fusarium graminearum", "Gibberella zeae",
				"Bacillus subtilis",
				"Escherichia coli",
				"Black mold", "Aspergillus niger",
				"Mouse", "Mus musculus"]
                    },
                    {
                        "name": "conventionalName",
                        "in": "path",
                        "description": "Source (input) data source [conventional name](http://vocabularies.bridgedb.org/#conventionalName)",
                        "required": true,
                        "type": "string",
			"default": "Entrez Gene",
			"enum": ["Affy","Agilent","BIND","BioCyc","BioGrid","BioModels Database","BioSystems","BRENDA","CAS","CCDS","ChEBI","ChEMBL compound","Chemspider","CodeLink","Database of Interacting Proteins","dbSNP","DrugBank","EcoCyc","EcoGene","EMBL","Ensembl","Ensembl B. subtilis","Ensembl C. elegans","Ensembl Chicken","Ensembl Chimp","Ensembl Cow","Ensembl Dog","Ensembl E. coli","Ensembl Fruitfly","Ensembl Horse","Ensembl Human","Ensembl M. tuberculosis","Ensembl Mosquito","Ensembl Mouse","Ensembl Pig","Ensembl Plants","Ensembl Rat","Ensembl Xenopus","Ensembl Yeast","Ensembl Zebrafish","Entrez Gene","Enzyme Nomenclature","FlyBase","GenBank","Gene Wiki","GeneOntology","Gramene Arabidopsis","Gramene Genes DB","Gramene Literature","Gramene Maize","Gramene Pathway","Gramene Rice","HGNC","HGNC Accession number","HMDB","HomoloGene","HPRD","Illumina","InChIKey","IntAct","InterPro","IPI","IRGSP Gene","KEGG Compound","KEGG Drug","KEGG Genes","KEGG Glycan","KEGG Pathway","KEGG Reaction","KNApSAcK","LIPID MAPS","LipidBank","MACiE","MaizeGDB","MatrixDB","MetaCyc","MGI","MINT","miRBase mature sequence","miRBase Sequence","NASC Gene","NCBI Protein","NCI Pathway Interaction Database","OMIM","Oryzabase","Other","Pathway Commons","PDB","Pfam","PharmGKB Drug","PharmGKB Gene","PharmGKB Pathways","PhosphoSite Protein","PINA","PlantGDB","PubChem-bioassay","PubChem-compound","PubChem-substance","Reactome","RefSeq","RESID","Rfam","RGD","Rhea","Rice Ensembl Gene","SGD","Small Molecule Pathway Database","SMART","SPIKE","SPRINT","STRING","SubstrateDB","SubtiWiki","SUPFAM","SWISS-MODEL","SwissLipids","Systems Biology Ontology","TAIR","TIGR","TTD Drug","TTD Target","TubercuList","UCSC Genome Browser","UniGene","Unipathway","Uniprot-SwissProt","Uniprot-TrEMBL","Wheat gene names","Wheat gene refs","Wikidata","WikiGenes","WikiPathways","Wikipedia","WormBase","XMetDB","ZFIN"]
                    },
                    {
                        "name": "identifier",
                        "in": "path",
                        "description": "Identifier",
                        "required": true,
                        "type": "string",
			"default": "1234"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a tab-delimited list of xrefs that map to a given identifier"
                    }
                }
            }
        },
        "/{organ­ism}/xrefs/{conventionalName}/{identifier}": {
            "get": {
                "description": "Returns a list of xrefs that map to a given identifier, and data source. Optionally restrict results to a given data source.",
		"tags":["Metabolites"],
                "parameters": [
                    {
                        "name": "dataSource",
                        "in": "query",
                        "description": "(Optional) Restrict results by data source [conventional name](http://vocabularies.bridgedb.org/#conventionalName)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "organ­ism",
                        "in": "path",
                        "description": "Organism [Latin name](http://vocabularies.bridgedb.org/#latinName) or [short name](http://vocabularies.bridgedb.org/#shortName). Note: despite the presence of this parameter, this endpoint returns the same results regardless of organism specified.",
                        "required": true,
                        "type": "string",
			"enum": ["Human", "Homo sapiens",
				"Tuberculosis", "Mycobacterium tuberculosis",
				"Mosquito", "Anopheles gambiae",
				"Zebra fish", "Danio rerio",
				"Arabidopsis thaliana",
				"Rice", "Oryza sativa",
				"Sea Squirt", "Ciona intestinalis",
				"Barley", "Hordeum vulgare",
				"Frog", "Xenopus tropicalis",
				"Soybean", "Glycine max",
				"Fruit fly", "Drosophila melanogaster",
				"Horse", "Equus caballus",
				"Rhesus Monkey", "Macaca mulatta",
				"Wine Grape", "Vitis vinifera",
				"Yeast", "Saccharomyces cerevisiae",
				"Tomato", "Solanum lycopersicum",
				"Rat", "Rattus norvegicus",
				"Cow", "Bos taurus",
				"Western Balsam Poplar", "Populus trichocarpa",
				"Chimpanzee", "Pan troglodytes",
				"Indian Rice", "Oryza indica",
				"Dog", "Canis familiaris",
				"Maize", "Zea mays",
				"Pig", "Sus scrofa",
				"Worm", "Caenorhabditis elegans",
				"Platypus", "Ornithorhynchus anatinus",
				"Chicken", "Gallus gallus",
				"Fusarium graminearum", "Gibberella zeae",
				"Bacillus subtilis",
				"Escherichia coli",
				"Black mold", "Aspergillus niger",
				"Mouse", "Mus musculus"]
                    },
                    {
                        "name": "conventionalName",
                        "in": "path",
                        "description": "Source (input) data source [conventional name](http://vocabularies.bridgedb.org/#conventionalName)",
                        "required": true,
                        "type": "string",
			"default": "ChEBI",
			"enum": ["Affy","Agilent","BIND","BioCyc","BioGrid","BioModels Database","BioSystems","BRENDA","CAS","CCDS","ChEBI","ChEMBL compound","Chemspider","CodeLink","Database of Interacting Proteins","dbSNP","DrugBank","EcoCyc","EcoGene","EMBL","Ensembl","Ensembl B. subtilis","Ensembl C. elegans","Ensembl Chicken","Ensembl Chimp","Ensembl Cow","Ensembl Dog","Ensembl E. coli","Ensembl Fruitfly","Ensembl Horse","Ensembl Human","Ensembl M. tuberculosis","Ensembl Mosquito","Ensembl Mouse","Ensembl Pig","Ensembl Plants","Ensembl Rat","Ensembl Xenopus","Ensembl Yeast","Ensembl Zebrafish","Entrez Gene","Enzyme Nomenclature","FlyBase","GenBank","Gene Wiki","GeneOntology","Gramene Arabidopsis","Gramene Genes DB","Gramene Literature","Gramene Maize","Gramene Pathway","Gramene Rice","HGNC","HGNC Accession number","HMDB","HomoloGene","HPRD","Illumina","InChIKey","IntAct","InterPro","IPI","IRGSP Gene","KEGG Compound","KEGG Drug","KEGG Genes","KEGG Glycan","KEGG Pathway","KEGG Reaction","KNApSAcK","LIPID MAPS","LipidBank","MACiE","MaizeGDB","MatrixDB","MetaCyc","MGI","MINT","miRBase mature sequence","miRBase Sequence","NASC Gene","NCBI Protein","NCI Pathway Interaction Database","OMIM","Oryzabase","Other","Pathway Commons","PDB","Pfam","PharmGKB Drug","PharmGKB Gene","PharmGKB Pathways","PhosphoSite Protein","PINA","PlantGDB","PubChem-bioassay","PubChem-compound","PubChem-substance","Reactome","RefSeq","RESID","Rfam","RGD","Rhea","Rice Ensembl Gene","SGD","Small Molecule Pathway Database","SMART","SPIKE","SPRINT","STRING","SubstrateDB","SubtiWiki","SUPFAM","SWISS-MODEL","SwissLipids","Systems Biology Ontology","TAIR","TIGR","TTD Drug","TTD Target","TubercuList","UCSC Genome Browser","UniGene","Unipathway","Uniprot-SwissProt","Uniprot-TrEMBL","Wheat gene names","Wheat gene refs","Wikidata","WikiGenes","WikiPathways","Wikipedia","WormBase","XMetDB","ZFIN"]
                    },
                    {
                        "name": "identifier",
                        "in": "path",
                        "description": "Identifier like 1234 (for Entrez Gene 1234)",
                        "required": true,
                        "type": "string",
			"default": "CHEBI:29108"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                }
            }
        },

        "/{organism}/xrefExists/{conventionalName}/{identifier}": {
            "get": {
                "description": "Returns `true` or `false` based on whether or not an xref exists in the database given an identifier, data source, and organism.",
		"tags":["Genes"],
                "parameters": [
                    {
                        "name": "organism",
                        "in": "path",
                        "description": "Organism [Latin name](http://vocabularies.bridgedb.org/#latinName) or [short name](http://vocabularies.bridgedb.org/#shortName).",
                        "required": true,
                        "type": "string",
			"enum": ["Human", "Homo sapiens",
				"Tuberculosis", "Mycobacterium tuberculosis",
				"Mosquito", "Anopheles gambiae",
				"Zebra fish", "Danio rerio",
				"Arabidopsis thaliana",
				"Rice", "Oryza sativa",
				"Sea Squirt", "Ciona intestinalis",
				"Barley", "Hordeum vulgare",
				"Frog", "Xenopus tropicalis",
				"Soybean", "Glycine max",
				"Fruit fly", "Drosophila melanogaster",
				"Horse", "Equus caballus",
				"Rhesus Monkey", "Macaca mulatta",
				"Wine Grape", "Vitis vinifera",
				"Yeast", "Saccharomyces cerevisiae",
				"Tomato", "Solanum lycopersicum",
				"Rat", "Rattus norvegicus",
				"Cow", "Bos taurus",
				"Western Balsam Poplar", "Populus trichocarpa",
				"Chimpanzee", "Pan troglodytes",
				"Indian Rice", "Oryza indica",
				"Dog", "Canis familiaris",
				"Maize", "Zea mays",
				"Pig", "Sus scrofa",
				"Worm", "Caenorhabditis elegans",
				"Platypus", "Ornithorhynchus anatinus",
				"Chicken", "Gallus gallus",
				"Fusarium graminearum", "Gibberella zeae",
				"Bacillus subtilis",
				"Escherichia coli",
				"Black mold", "Aspergillus niger",
				"Mouse", "Mus musculus"]
                    },
                    {
                        "name": "conventionalName",
                        "in": "path",
                        "description": "Source (input) data source [conventional name](http://vocabularies.bridgedb.org/#conventionalName)",
                        "required": true,
                        "type": "string",
			"default": "Entrez Gene",
			"enum": ["Affy","Agilent","BIND","BioCyc","BioGrid","BioModels Database","BioSystems","BRENDA","CAS","CCDS","ChEBI","ChEMBL compound","Chemspider","CodeLink","Database of Interacting Proteins","dbSNP","DrugBank","EcoCyc","EcoGene","EMBL","Ensembl","Ensembl B. subtilis","Ensembl C. elegans","Ensembl Chicken","Ensembl Chimp","Ensembl Cow","Ensembl Dog","Ensembl E. coli","Ensembl Fruitfly","Ensembl Horse","Ensembl Human","Ensembl M. tuberculosis","Ensembl Mosquito","Ensembl Mouse","Ensembl Pig","Ensembl Plants","Ensembl Rat","Ensembl Xenopus","Ensembl Yeast","Ensembl Zebrafish","Entrez Gene","Enzyme Nomenclature","FlyBase","GenBank","Gene Wiki","GeneOntology","Gramene Arabidopsis","Gramene Genes DB","Gramene Literature","Gramene Maize","Gramene Pathway","Gramene Rice","HGNC","HGNC Accession number","HMDB","HomoloGene","HPRD","Illumina","InChIKey","IntAct","InterPro","IPI","IRGSP Gene","KEGG Compound","KEGG Drug","KEGG Genes","KEGG Glycan","KEGG Pathway","KEGG Reaction","KNApSAcK","LIPID MAPS","LipidBank","MACiE","MaizeGDB","MatrixDB","MetaCyc","MGI","MINT","miRBase mature sequence","miRBase Sequence","NASC Gene","NCBI Protein","NCI Pathway Interaction Database","OMIM","Oryzabase","Other","Pathway Commons","PDB","Pfam","PharmGKB Drug","PharmGKB Gene","PharmGKB Pathways","PhosphoSite Protein","PINA","PlantGDB","PubChem-bioassay","PubChem-compound","PubChem-substance","Reactome","RefSeq","RESID","Rfam","RGD","Rhea","Rice Ensembl Gene","SGD","Small Molecule Pathway Database","SMART","SPIKE","SPRINT","STRING","SubstrateDB","SubtiWiki","SUPFAM","SWISS-MODEL","SwissLipids","Systems Biology Ontology","TAIR","TIGR","TTD Drug","TTD Target","TubercuList","UCSC Genome Browser","UniGene","Unipathway","Uniprot-SwissProt","Uniprot-TrEMBL","Wheat gene names","Wheat gene refs","Wikidata","WikiGenes","WikiPathways","Wikipedia","WormBase","XMetDB","ZFIN"]
                        
                    },
                    {
                        "name": "identifier",
                        "in": "path",
                        "description": "Identifier",
                        "required": true,
			"default":"1234",
                        "type": "string"

                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns `true` or `false`"
                    }
                }
            }
        },
        "/{organism}/search/{query}": {
            "get": {
                "description": "Returns a list of xrefs with identifiers that contain the query string for a given organism. Results are not restricted to exact matches. Optionally limit results to a specified number per data source.",
		"tags":["Genes"],
                "parameters": [
                    {
                        "name": "organism",
                        "in": "path",
                        "description": "Organism [Latin name](http://vocabularies.bridgedb.org/#latinName) or [short name](http://vocabularies.bridgedb.org/#shortName).",
                        "required": true,
                        "type": "string",
			"enum": ["Human", "Homo sapiens",
				"Tuberculosis", "Mycobacterium tuberculosis",
				"Mosquito", "Anopheles gambiae",
				"Zebra fish", "Danio rerio",
				"Arabidopsis thaliana",
				"Rice", "Oryza sativa",
				"Sea Squirt", "Ciona intestinalis",
				"Barley", "Hordeum vulgare",
				"Frog", "Xenopus tropicalis",
				"Soybean", "Glycine max",
				"Fruit fly", "Drosophila melanogaster",
				"Horse", "Equus caballus",
				"Rhesus Monkey", "Macaca mulatta",
				"Wine Grape", "Vitis vinifera",
				"Yeast", "Saccharomyces cerevisiae",
				"Tomato", "Solanum lycopersicum",
				"Rat", "Rattus norvegicus",
				"Cow", "Bos taurus",
				"Western Balsam Poplar", "Populus trichocarpa",
				"Chimpanzee", "Pan troglodytes",
				"Indian Rice", "Oryza indica",
				"Dog", "Canis familiaris",
				"Maize", "Zea mays",
				"Pig", "Sus scrofa",
				"Worm", "Caenorhabditis elegans",
				"Platypus", "Ornithorhynchus anatinus",
				"Chicken", "Gallus gallus",
				"Fusarium graminearum", "Gibberella zeae",
				"Bacillus subtilis",
				"Escherichia coli",
				"Black mold", "Aspergillus niger",
				"Mouse", "Mus musculus"]
                    },
                    {
                        "name": "query",
                        "in": "path",
                        "description": "Identifier query",
                        "required": true,
                        "type": "string",
			"default":"1234"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results per data source",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a tab-delimited list of xrefs with identifiers that contain the query string for a given organism"
                    }
                }
            }
        },
        "/{organism}/properties": {
            "get": {
                "description": "Returns the list of properties available for a given organism\n",
		"tags":["Genes"],        
                "parameters": [
                    {
                        "name": "organism",
                        "in": "path",
                        "description": "Organism [Latin name](http://vocabularies.bridgedb.org/#latinName) or [short name](http://vocabularies.bridgedb.org/#shortName).",
                        "required": true,
                        "type": "string",
			"enum": ["Human", "Homo sapiens",
				"Tuberculosis", "Mycobacterium tuberculosis",
				"Mosquito", "Anopheles gambiae",
				"Zebra fish", "Danio rerio",
				"Arabidopsis thaliana",
				"Rice", "Oryza sativa",
				"Sea Squirt", "Ciona intestinalis",
				"Barley", "Hordeum vulgare",
				"Frog", "Xenopus tropicalis",
				"Soybean", "Glycine max",
				"Fruit fly", "Drosophila melanogaster",
				"Horse", "Equus caballus",
				"Rhesus Monkey", "Macaca mulatta",
				"Wine Grape", "Vitis vinifera",
				"Yeast", "Saccharomyces cerevisiae",
				"Tomato", "Solanum lycopersicum",
				"Rat", "Rattus norvegicus",
				"Cow", "Bos taurus",
				"Western Balsam Poplar", "Populus trichocarpa",
				"Chimpanzee", "Pan troglodytes",
				"Indian Rice", "Oryza indica",
				"Dog", "Canis familiaris",
				"Maize", "Zea mays",
				"Pig", "Sus scrofa",
				"Worm", "Caenorhabditis elegans",
				"Platypus", "Ornithorhynchus anatinus",
				"Chicken", "Gallus gallus",
				"Fusarium graminearum", "Gibberella zeae",
				"Bacillus subtilis",
				"Escherichia coli",
				"Black mold", "Aspergillus niger",
				"Mouse", "Mus musculus"]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns the list of properties available for a given organism"
                    }
                }
            }
        },
        "/{organism}/sourceDataSources": {
            "get": {
                "description": "Returns a list of data sources available as xref sources for a given organism.",
		"tags":["Genes"],
                "parameters": [
                    {
                        "name": "organism",
                        "in": "path",
                        "description": "Organism [Latin name](http://vocabularies.bridgedb.org/#latinName) or [short name](http://vocabularies.bridgedb.org/#shortName).",
                        "required": true,
                        "type": "string",
			"enum": ["Human", "Homo sapiens",
				"Tuberculosis", "Mycobacterium tuberculosis",
				"Mosquito", "Anopheles gambiae",
				"Zebra fish", "Danio rerio",
				"Arabidopsis thaliana",
				"Rice", "Oryza sativa",
				"Sea Squirt", "Ciona intestinalis",
				"Barley", "Hordeum vulgare",
				"Frog", "Xenopus tropicalis",
				"Soybean", "Glycine max",
				"Fruit fly", "Drosophila melanogaster",
				"Horse", "Equus caballus",
				"Rhesus Monkey", "Macaca mulatta",
				"Wine Grape", "Vitis vinifera",
				"Yeast", "Saccharomyces cerevisiae",
				"Tomato", "Solanum lycopersicum",
				"Rat", "Rattus norvegicus",
				"Cow", "Bos taurus",
				"Western Balsam Poplar", "Populus trichocarpa",
				"Chimpanzee", "Pan troglodytes",
				"Indian Rice", "Oryza indica",
				"Dog", "Canis familiaris",
				"Maize", "Zea mays",
				"Pig", "Sus scrofa",
				"Worm", "Caenorhabditis elegans",
				"Platypus", "Ornithorhynchus anatinus",
				"Chicken", "Gallus gallus",
				"Fusarium graminearum", "Gibberella zeae",
				"Bacillus subtilis",
				"Escherichia coli",
				"Black mold", "Aspergillus niger",
				"Mouse", "Mus musculus"]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of data sources available as xref sources."
                    }
                }
            }
        },
        "/{organism}/targetDataSources": {
            "get": {
                "description": "Returns a list of data sources available as xref targets for a given organism.",
		"tags":["Genes"],        
                "parameters": [
                    {
                        "name": "organism",
                        "in": "path",
                        "description": "Organism [Latin name](http://vocabularies.bridgedb.org/#latinName) or [short name](http://vocabularies.bridgedb.org/#shortName).",
                        "required": true,
                        "type": "string",
			"enum": ["Human", "Homo sapiens",
				"Tuberculosis", "Mycobacterium tuberculosis",
				"Mosquito", "Anopheles gambiae",
				"Zebra fish", "Danio rerio",
				"Arabidopsis thaliana",
				"Rice", "Oryza sativa",
				"Sea Squirt", "Ciona intestinalis",
				"Barley", "Hordeum vulgare",
				"Frog", "Xenopus tropicalis",
				"Soybean", "Glycine max",
				"Fruit fly", "Drosophila melanogaster",
				"Horse", "Equus caballus",
				"Rhesus Monkey", "Macaca mulatta",
				"Wine Grape", "Vitis vinifera",
				"Yeast", "Saccharomyces cerevisiae",
				"Tomato", "Solanum lycopersicum",
				"Rat", "Rattus norvegicus",
				"Cow", "Bos taurus",
				"Western Balsam Poplar", "Populus trichocarpa",
				"Chimpanzee", "Pan troglodytes",
				"Indian Rice", "Oryza indica",
				"Dog", "Canis familiaris",
				"Maize", "Zea mays",
				"Pig", "Sus scrofa",
				"Worm", "Caenorhabditis elegans",
				"Platypus", "Ornithorhynchus anatinus",
				"Chicken", "Gallus gallus",
				"Fusarium graminearum", "Gibberella zeae",
				"Bacillus subtilis",
				"Escherichia coli",
				"Black mold", "Aspergillus niger",
				"Mouse", "Mus musculus"]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of data sources available as xref targets."
                    }
                }
            }
        },
        "/{organism}/isFreeSearchSupported": {
            "get": {
                "description": "Returns `true` or `false` based on whether or not /{organism}/search/{query} is supported for a given organism.",
		"tags":["Genes"],
                "parameters": [
                    {
                        "name": "organism",
                        "in": "path",
                        "description": "Organism [Latin name](http://vocabularies.bridgedb.org/#latinName) or [short name](http://vocabularies.bridgedb.org/#shortName).",
                        "required": true,
                        "type": "string",
			"enum": ["Human", "Homo sapiens",
				"Tuberculosis", "Mycobacterium tuberculosis",
				"Mosquito", "Anopheles gambiae",
				"Zebra fish", "Danio rerio",
				"Arabidopsis thaliana",
				"Rice", "Oryza sativa",
				"Sea Squirt", "Ciona intestinalis",
				"Barley", "Hordeum vulgare",
				"Frog", "Xenopus tropicalis",
				"Soybean", "Glycine max",
				"Fruit fly", "Drosophila melanogaster",
				"Horse", "Equus caballus",
				"Rhesus Monkey", "Macaca mulatta",
				"Wine Grape", "Vitis vinifera",
				"Yeast", "Saccharomyces cerevisiae",
				"Tomato", "Solanum lycopersicum",
				"Rat", "Rattus norvegicus",
				"Cow", "Bos taurus",
				"Western Balsam Poplar", "Populus trichocarpa",
				"Chimpanzee", "Pan troglodytes",
				"Indian Rice", "Oryza indica",
				"Dog", "Canis familiaris",
				"Maize", "Zea mays",
				"Pig", "Sus scrofa",
				"Worm", "Caenorhabditis elegans",
				"Platypus", "Ornithorhynchus anatinus",
				"Chicken", "Gallus gallus",
				"Fusarium graminearum", "Gibberella zeae",
				"Bacillus subtilis",
				"Escherichia coli",
				"Black mold", "Aspergillus niger",
				"Mouse", "Mus musculus"]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns `true` or `false`."
                    }
                }
            }
        },
        "/{organism}/isMappingSupported/{sourceConventionalName}/{targetConventionalName}": {
            "get": {
                "description": "Returns `true` or `false` based on whether or not /{organism}/xrefs/{conventionalName}/{identifier} would possibly return a {targetConventionalName} result given a {sourceConventionalName} query. This function basically combines the results of /{organism}/sourceDataSources and /{organism}/targetDataSources into a single boolean result.",
		"tags":["Genes"],
                "parameters": [
                    {
                        "name": "organism",
                        "in": "path",
                        "description": "Organism [Latin name](http://vocabularies.bridgedb.org/#latinName) or [short name](http://vocabularies.bridgedb.org/#shortName).",
                        "required": true,
                        "type": "string",
			"enum": ["Human", "Homo sapiens",
				"Tuberculosis", "Mycobacterium tuberculosis",
				"Mosquito", "Anopheles gambiae",
				"Zebra fish", "Danio rerio",
				"Arabidopsis thaliana",
				"Rice", "Oryza sativa",
				"Sea Squirt", "Ciona intestinalis",
				"Barley", "Hordeum vulgare",
				"Frog", "Xenopus tropicalis",
				"Soybean", "Glycine max",
				"Fruit fly", "Drosophila melanogaster",
				"Horse", "Equus caballus",
				"Rhesus Monkey", "Macaca mulatta",
				"Wine Grape", "Vitis vinifera",
				"Yeast", "Saccharomyces cerevisiae",
				"Tomato", "Solanum lycopersicum",
				"Rat", "Rattus norvegicus",
				"Cow", "Bos taurus",
				"Western Balsam Poplar", "Populus trichocarpa",
				"Chimpanzee", "Pan troglodytes",
				"Indian Rice", "Oryza indica",
				"Dog", "Canis familiaris",
				"Maize", "Zea mays",
				"Pig", "Sus scrofa",
				"Worm", "Caenorhabditis elegans",
				"Platypus", "Ornithorhynchus anatinus",
				"Chicken", "Gallus gallus",
				"Fusarium graminearum", "Gibberella zeae",
				"Bacillus subtilis",
				"Escherichia coli",
				"Black mold", "Aspergillus niger",
				"Mouse", "Mus musculus"]
                    },
                    {
                        "name": "sourceConventionalName",
                        "in": "path",
                        "description": "[Conventional name](http://vocabularies.bridgedb.org/#conventionalName) for source (input/query) data source",
                        "required": true,
                        "type": "string",
			"default": "Entrez Gene",
			"enum": ["Affy","Agilent","BIND","BioCyc","BioGrid","BioModels Database","BioSystems","BRENDA","CAS","CCDS","ChEBI","ChEMBL compound","Chemspider","CodeLink","Database of Interacting Proteins","dbSNP","DrugBank","EcoCyc","EcoGene","EMBL","Ensembl","Ensembl B. subtilis","Ensembl C. elegans","Ensembl Chicken","Ensembl Chimp","Ensembl Cow","Ensembl Dog","Ensembl E. coli","Ensembl Fruitfly","Ensembl Horse","Ensembl Human","Ensembl M. tuberculosis","Ensembl Mosquito","Ensembl Mouse","Ensembl Pig","Ensembl Plants","Ensembl Rat","Ensembl Xenopus","Ensembl Yeast","Ensembl Zebrafish","Entrez Gene","Enzyme Nomenclature","FlyBase","GenBank","Gene Wiki","GeneOntology","Gramene Arabidopsis","Gramene Genes DB","Gramene Literature","Gramene Maize","Gramene Pathway","Gramene Rice","HGNC","HGNC Accession number","HMDB","HomoloGene","HPRD","Illumina","InChIKey","IntAct","InterPro","IPI","IRGSP Gene","KEGG Compound","KEGG Drug","KEGG Genes","KEGG Glycan","KEGG Pathway","KEGG Reaction","KNApSAcK","LIPID MAPS","LipidBank","MACiE","MaizeGDB","MatrixDB","MetaCyc","MGI","MINT","miRBase mature sequence","miRBase Sequence","NASC Gene","NCBI Protein","NCI Pathway Interaction Database","OMIM","Oryzabase","Other","Pathway Commons","PDB","Pfam","PharmGKB Drug","PharmGKB Gene","PharmGKB Pathways","PhosphoSite Protein","PINA","PlantGDB","PubChem-bioassay","PubChem-compound","PubChem-substance","Reactome","RefSeq","RESID","Rfam","RGD","Rhea","Rice Ensembl Gene","SGD","Small Molecule Pathway Database","SMART","SPIKE","SPRINT","STRING","SubstrateDB","SubtiWiki","SUPFAM","SWISS-MODEL","SwissLipids","Systems Biology Ontology","TAIR","TIGR","TTD Drug","TTD Target","TubercuList","UCSC Genome Browser","UniGene","Unipathway","Uniprot-SwissProt","Uniprot-TrEMBL","Wheat gene names","Wheat gene refs","Wikidata","WikiGenes","WikiPathways","Wikipedia","WormBase","XMetDB","ZFIN"]

                    },
                    {
                        "name": "targetConventionalName",
                        "in": "path",
                        "description": "[Conventional name](http://vocabularies.bridgedb.org/#conventionalName) for target (output/result) data source",
                        "required": true,
                        "type": "string",
			"enum": ["Affy","Agilent","BIND","BioCyc","BioGrid","BioModels Database","BioSystems","BRENDA","CAS","CCDS","ChEBI","ChEMBL compound","Chemspider","CodeLink","Database of Interacting Proteins","dbSNP","DrugBank","EcoCyc","EcoGene","EMBL","Ensembl","Ensembl B. subtilis","Ensembl C. elegans","Ensembl Chicken","Ensembl Chimp","Ensembl Cow","Ensembl Dog","Ensembl E. coli","Ensembl Fruitfly","Ensembl Horse","Ensembl Human","Ensembl M. tuberculosis","Ensembl Mosquito","Ensembl Mouse","Ensembl Pig","Ensembl Plants","Ensembl Rat","Ensembl Xenopus","Ensembl Yeast","Ensembl Zebrafish","Entrez Gene","Enzyme Nomenclature","FlyBase","GenBank","Gene Wiki","GeneOntology","Gramene Arabidopsis","Gramene Genes DB","Gramene Literature","Gramene Maize","Gramene Pathway","Gramene Rice","HGNC","HGNC Accession number","HMDB","HomoloGene","HPRD","Illumina","InChIKey","IntAct","InterPro","IPI","IRGSP Gene","KEGG Compound","KEGG Drug","KEGG Genes","KEGG Glycan","KEGG Pathway","KEGG Reaction","KNApSAcK","LIPID MAPS","LipidBank","MACiE","MaizeGDB","MatrixDB","MetaCyc","MGI","MINT","miRBase mature sequence","miRBase Sequence","NASC Gene","NCBI Protein","NCI Pathway Interaction Database","OMIM","Oryzabase","Other","Pathway Commons","PDB","Pfam","PharmGKB Drug","PharmGKB Gene","PharmGKB Pathways","PhosphoSite Protein","PINA","PlantGDB","PubChem-bioassay","PubChem-compound","PubChem-substance","Reactome","RefSeq","RESID","Rfam","RGD","Rhea","Rice Ensembl Gene","SGD","Small Molecule Pathway Database","SMART","SPIKE","SPRINT","STRING","SubstrateDB","SubtiWiki","SUPFAM","SWISS-MODEL","SwissLipids","Systems Biology Ontology","TAIR","TIGR","TTD Drug","TTD Target","TubercuList","UCSC Genome Browser","UniGene","Unipathway","Uniprot-SwissProt","Uniprot-TrEMBL","Wheat gene names","Wheat gene refs","Wikidata","WikiGenes","WikiPathways","Wikipedia","WormBase","XMetDB","ZFIN"]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns `true` or `false`."
                    }
                }
            }
        },
        "/{organism}/attributeSearch/{query}": {
            "get": {
                "description": "Returns a list of xrefs and associated attributes that contain the query string for a given organism. Results are not restricted to exact matches. Optionally limit results to a specified number per data source, or by the type of attribute. See possible attribute types via /{organism}/attributeSet.\n",
		"tags":["Genes","Metabolites"],
                "parameters": [
                    {
                        "name": "organism",
                        "in": "path",
                        "description": "Organism [Latin name](http://vocabularies.bridgedb.org/#latinName) or [short name](http://vocabularies.bridgedb.org/#shortName).",
                        "required": true,
                        "type": "string",
			"enum": ["Human", "Homo sapiens",
				"Tuberculosis", "Mycobacterium tuberculosis",
				"Mosquito", "Anopheles gambiae",
				"Zebra fish", "Danio rerio",
				"Arabidopsis thaliana",
				"Rice", "Oryza sativa",
				"Sea Squirt", "Ciona intestinalis",
				"Barley", "Hordeum vulgare",
				"Frog", "Xenopus tropicalis",
				"Soybean", "Glycine max",
				"Fruit fly", "Drosophila melanogaster",
				"Horse", "Equus caballus",
				"Rhesus Monkey", "Macaca mulatta",
				"Wine Grape", "Vitis vinifera",
				"Yeast", "Saccharomyces cerevisiae",
				"Tomato", "Solanum lycopersicum",
				"Rat", "Rattus norvegicus",
				"Cow", "Bos taurus",
				"Western Balsam Poplar", "Populus trichocarpa",
				"Chimpanzee", "Pan troglodytes",
				"Indian Rice", "Oryza indica",
				"Dog", "Canis familiaris",
				"Maize", "Zea mays",
				"Pig", "Sus scrofa",
				"Worm", "Caenorhabditis elegans",
				"Platypus", "Ornithorhynchus anatinus",
				"Chicken", "Gallus gallus",
				"Fusarium graminearum", "Gibberella zeae",
				"Bacillus subtilis",
				"Escherichia coli",
				"Black mold", "Aspergillus niger",
				"Mouse", "Mus musculus"]
                    },
                    {
                        "name": "query",
                        "in": "path",
                        "description": "Text to find in attributes",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "attrName",
                        "in": "query",
                        "description": "Restrict search by attribute name (case sensitive). Use GET /{organism}/attributeSet to find out which attributes are supported.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "returns a tab-delimited list with the identifier, data source and descriptions found."
                    }
                }
            }
        },
        "/{organism}/attributes/{conventionalName}/{identifier}": {
            "get": {
                "description": "Returns the attributes for a given identifier, data source, organism. Optionally display only a specified attribute",
		"tags":["Genes"],
                "parameters": [
                    {
                        "name": "organism",
                        "in": "path",
                        "description": "Organism [Latin name](http://vocabularies.bridgedb.org/#latinName) or [short name](http://vocabularies.bridgedb.org/#shortName).",
                        "required": true,
                        "type": "string",
			"enum": ["Human", "Homo sapiens",
				"Tuberculosis", "Mycobacterium tuberculosis",
				"Mosquito", "Anopheles gambiae",
				"Zebra fish", "Danio rerio",
				"Arabidopsis thaliana",
				"Rice", "Oryza sativa",
				"Sea Squirt", "Ciona intestinalis",
				"Barley", "Hordeum vulgare",
				"Frog", "Xenopus tropicalis",
				"Soybean", "Glycine max",
				"Fruit fly", "Drosophila melanogaster",
				"Horse", "Equus caballus",
				"Rhesus Monkey", "Macaca mulatta",
				"Wine Grape", "Vitis vinifera",
				"Yeast", "Saccharomyces cerevisiae",
				"Tomato", "Solanum lycopersicum",
				"Rat", "Rattus norvegicus",
				"Cow", "Bos taurus",
				"Western Balsam Poplar", "Populus trichocarpa",
				"Chimpanzee", "Pan troglodytes",
				"Indian Rice", "Oryza indica",
				"Dog", "Canis familiaris",
				"Maize", "Zea mays",
				"Pig", "Sus scrofa",
				"Worm", "Caenorhabditis elegans",
				"Platypus", "Ornithorhynchus anatinus",
				"Chicken", "Gallus gallus",
				"Fusarium graminearum", "Gibberella zeae",
				"Bacillus subtilis",
				"Escherichia coli",
				"Black mold", "Aspergillus niger",
				"Mouse", "Mus musculus"]
                    },
                    {
                        "name": "conventionalName",
                        "in": "path",
                        "description": "Data source [conventional name](http://vocabularies.bridgedb.org/#conventionalName)",
                        "required": true,
                        "type": "string",
			"default" : "Ensembl", 
			"enum": ["Affy","Agilent","BIND","BioCyc","BioGrid","BioModels Database","BioSystems","BRENDA","CAS","CCDS","ChEBI","ChEMBL compound","Chemspider","CodeLink","Database of Interacting Proteins","dbSNP","DrugBank","EcoCyc","EcoGene","EMBL","Ensembl","Ensembl B. subtilis","Ensembl C. elegans","Ensembl Chicken","Ensembl Chimp","Ensembl Cow","Ensembl Dog","Ensembl E. coli","Ensembl Fruitfly","Ensembl Horse","Ensembl Human","Ensembl M. tuberculosis","Ensembl Mosquito","Ensembl Mouse","Ensembl Pig","Ensembl Plants","Ensembl Rat","Ensembl Xenopus","Ensembl Yeast","Ensembl Zebrafish","Entrez Gene","Enzyme Nomenclature","FlyBase","GenBank","Gene Wiki","GeneOntology","Gramene Arabidopsis","Gramene Genes DB","Gramene Literature","Gramene Maize","Gramene Pathway","Gramene Rice","HGNC","HGNC Accession number","HMDB","HomoloGene","HPRD","Illumina","InChIKey","IntAct","InterPro","IPI","IRGSP Gene","KEGG Compound","KEGG Drug","KEGG Genes","KEGG Glycan","KEGG Pathway","KEGG Reaction","KNApSAcK","LIPID MAPS","LipidBank","MACiE","MaizeGDB","MatrixDB","MetaCyc","MGI","MINT","miRBase mature sequence","miRBase Sequence","NASC Gene","NCBI Protein","NCI Pathway Interaction Database","OMIM","Oryzabase","Other","Pathway Commons","PDB","Pfam","PharmGKB Drug","PharmGKB Gene","PharmGKB Pathways","PhosphoSite Protein","PINA","PlantGDB","PubChem-bioassay","PubChem-compound","PubChem-substance","Reactome","RefSeq","RESID","Rfam","RGD","Rhea","Rice Ensembl Gene","SGD","Small Molecule Pathway Database","SMART","SPIKE","SPRINT","STRING","SubstrateDB","SubtiWiki","SUPFAM","SWISS-MODEL","SwissLipids","Systems Biology Ontology","TAIR","TIGR","TTD Drug","TTD Target","TubercuList","UCSC Genome Browser","UniGene","Unipathway","Uniprot-SwissProt","Uniprot-TrEMBL","Wheat gene names","Wheat gene refs","Wikidata","WikiGenes","WikiPathways","Wikipedia","WormBase","XMetDB","ZFIN"]                    
                    },
                    {
                        "name": "identifier",
                        "in": "path",
                        "description": "Identifier",
                        "required": true,
                        "type": "string",
			"default": "ENSG00000122375"
                    },
                    {
                        "name": "attrName",
                        "in": "query",
                        "description": "Type of attribute",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a tab-delimited list with the attributes and their content"
                    }
                }
            }
        },
        "/{organism}/attributeSet": {
            "get": {
                "description": "Returns the supported attributes to the given Organism.",
		"tags":["Genes"],
                "parameters": [
                    {
                        "name": "organism",
                        "in": "path",
                        "description": "Organism [Latin name](http://vocabularies.bridgedb.org/#latinName) or [short name](http://vocabularies.bridgedb.org/#shortName).",
                        "required": true,
                        "type": "string",
			"enum": ["Human", "Homo sapiens",
				"Tuberculosis", "Mycobacterium tuberculosis",
				"Mosquito", "Anopheles gambiae",
				"Zebra fish", "Danio rerio",
				"Arabidopsis thaliana",
				"Rice", "Oryza sativa",
				"Sea Squirt", "Ciona intestinalis",
				"Barley", "Hordeum vulgare",
				"Frog", "Xenopus tropicalis",
				"Soybean", "Glycine max",
				"Fruit fly", "Drosophila melanogaster",
				"Horse", "Equus caballus",
				"Rhesus Monkey", "Macaca mulatta",
				"Wine Grape", "Vitis vinifera",
				"Yeast", "Saccharomyces cerevisiae",
				"Tomato", "Solanum lycopersicum",
				"Rat", "Rattus norvegicus",
				"Cow", "Bos taurus",
				"Western Balsam Poplar", "Populus trichocarpa",
				"Chimpanzee", "Pan troglodytes",
				"Indian Rice", "Oryza indica",
				"Dog", "Canis familiaris",
				"Maize", "Zea mays",
				"Pig", "Sus scrofa",
				"Worm", "Caenorhabditis elegans",
				"Platypus", "Ornithorhynchus anatinus",
				"Chicken", "Gallus gallus",
				"Fusarium graminearum", "Gibberella zeae",
				"Bacillus subtilis",
				"Escherichia coli",
				"Black mold", "Aspergillus niger",
				"Mouse", "Mus musculus"]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns the supported attributes"
                    }
                }
            }
        }
    }
}
